{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}의 프로필 페이지</h1>
  {% with followings=person.followings.all followers=person.followers.all %}
    <div>
      <div>
        팔로워 : <span id="followersCountText"></span>  / 팔로우 : <span id="followingsCountText">{{ followings|length }}</span>
      </div>
      {% if request.user != person %}
        <div>          
            {% if request.user in followers %}
              <button id="followBtn" data-user-id="{{  person.pk }}">언팔로우</button>
            {% else %}
              <button id="followBtn" data-user-id="{{  person.pk }}">팔로우</button>
            {% endif %}
        </div>
      {% endif %}
    </div>
  {% endwith %}
{% endblock content %}

{% block script %}
<script>
  // 1. 선택
 const followBtn = document.querySelector('#followBtn')

 // 2. 이벤트 등록(버튼을 눌렀을때 작동)
 followBtn.addEventListener('click', function(event) {
   //3. Axios 요청
   // 클릭한 사용자의 로그인 정보 가져오기  
  
   const userId = event.target.dataset.userId
   const URL = `/accounts/${userId}/follow/`
   const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
   axios({
     method: 'post',
     url: URL,
     headers: {'X-CSRFToken': csrftoken}
   })
   .then( response => {     
     const { isFollow, followingsCount, followersCount } = response.data     
     event.target.innerText = isFollow ? '언팔로우' : '팔로우'
     document.querySelector('#followingsCountText').innerText = followingsCount
     document.querySelector('#followersCountText').innerText = followersCount     
   })
 }) 

</script>
{% endblock script %}