{% extends 'base.html' %}
{% block title %}
{% endblock title %}

{% block body %}
  <h1 class="d-flex justify-content-center p-2 bg-info text-light">INDEX</h1>   
  <a href="{% url 'movies:create' %}"><button type="button" class="btn btn-primary">CREATE</button></a>  
  <table class="table tabel-dark table-striped">
    <thead>
      <tr>
        <th>제목</th>
        <th>평점</th>
        <th>장르</th>
        <th>개봉일</th>
      </tr>
    </thead>
    <tbody>     
      {% for movie in movies  %}
      <tr>       
        <td>
          <a href="{% url 'movies:detail' movie.pk %}">
          {{movie.title}}
          </a>
        </td>      
        <td>{{movie.score}}</td>
        <td>{{movie.genre}}</td>
        <td>{{movie.release_date}}</td> 
      </tr> 
      {% endfor %}     
    </tbody>
  </table>
  
{% endblock body %} 

{% block footer %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">이전</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">다음</a></li>
  </ul>
</nav>
{% endblock footer %}

